/*EVENTS PAGE*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
/*	width: 100vw;*/
	background-repeat: no-repeat;
	background-image: url(../images/image5.jpg);	
	background-size: 1450px 650px;
    background-position: top;
	display: block;
	font-family: sans-serif;
}

.media {
	margin: 330px 200px 50px 420px;

}