/*HOMEPAGE*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background-repeat: no-repeat;
	background-image: url(../images/homemain.jpg);	
	background-size: 1480px 650px;
  background-position: top;
	font-family: sans-serif;
}

/*left side*/

img {
  width: 400px;
  height: 300px;
  position: absolute; 
  left: 20px;
  z-index: 1;
}


.login-box {
  position: absolute;
  top: 65%;
  left: 30%;
  width: 400px;
  height: 350px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*Social Media*/

.social-media {
  position: absolute;
  margin: 550px 600px 0px 270px;
  padding: 20px;
  color: cyan;
  font-size: 30px;
  display: inline-flex;
  text-decoration: none;
}

i {
  padding: 15px;
}

i:hover {
  color: white;
}

/*right side*/

.container {
	display: inline-block;
}

.home1 {
	width: 80px;
	height: 500px;
  margin-left: 680px;
  z-index: 1;
}

.home1:hover {
  opacity: 0.75;
  width: 85px;
  height: 505px;
}

.home2 {
  width: 80px;
  height: 500px;
  left: 785px;
  z-index: 2;
}

.home2:hover {
  opacity: 0.75;
  width: 85px;
  height: 505px;
}


.home3 {
  width: 80px;
  height: 500px;
  left: 870px;
  z-index: 3;
}

.home3:hover {
  opacity: 0.75;
  width: 85px;
  height: 505px;
}

.home4 {
	width: 80px;
  height: 500px;
  left: 955px;
  z-index: 4;
}

.home4:hover {
  opacity: 0.75;
  width: 85px;
  height: 505px;
}

.home5 {
  width: 80px;
  height: 500px;
  left: 1040px;
  z-index: 5;
}

.home5:hover {
  opacity: 0.75;
  width: 85px;
  height: 505px;
}