/*LANDING PAGE*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*LANDING PAGE*/

img {
	text-align: right;
	z-index: 1;
}

body {
	background-image: url(../images/landingimage3.jpg);
	background-repeat: no-repeat;
  background-size: 1280px 700px;
  background-position: top;
	display: block;
}

/*Landing Page Button*/

.login-box1 {
  position: absolute; 
  left: 180px;
  top: 400px;
  z-index: 2;
}

.login-box1 form a {
/*  display: inline-block;*/
  background: #DC143C;
  opacity: 0.8;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box1 a:hover {
  background: #DC143C;
  opacity: 1;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #DC143C,
              0 0 25px #DC143C,
              0 0 50px #DC143C,
              0 0 100px #DC143C;
}

/*.login-box1 a span {
  position: absolute;
  display: block;
}*/

.login-box1 a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #DC143C);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box1 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #DC143C);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box1 a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #DC143C);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box1 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #DC143C);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


/*Text Animation - Guild*/

.guild {
  color: aqua;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: absolute;
  left: 200px;
  top: 300px;
  z-index: 1;
}


h1 {
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
  }

a {
    font-family: 'Teko', sans-serif;
    color: #4db1bc;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    padding-bottom: 1rem;
  }
  
@keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

/*Landing Page Footer*/

.footer {
  position: fixed;
  font-family: 'PT Sans', sans-serif; 
  font-size: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(112,128,144,0.5);
  color: white;
  text-align: center;
  text-transform: uppercase;
}