/*RECRUITMENT PAGE*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
/*	width: 100vw;*/
	background-repeat: no-repeat;
	background-image: url(../images/image2.jpg);	
	background-size: 1450px 650px;
  background-position: top;
	display: inline-flex;	
  position: absolute;
	font-family: sans-serif;	
}

#sexy {
	width: 200px;
	height: 400px;
	position: absolute;
	margin-top: 200px;
}

#sexy:hover {
	content: url(../images/sexy2.png);
	width: 200px;
	height: 410px;	
}

.box1 {
	margin: 100px 10px 20px 120px;
	padding: 20px;
	width: 250px;
	height: 300px;
	background-color: rgba(210, 180, 140,0.8);
	color: white;
	border: 2px solid white;
	display: block;
	text-align: center;
	font-size: 14px;

}

.box2 {
	margin: 70px 10px 20px;
	padding: 20px;
	width: 38vw;
	height: 80vh;
	background-color: rgba(72,209,204,0.8);
	color: white;
	border: 2px solid white;
	display: block;
	text-align: center;
	font-size: 14px;

}

.box3 {
	margin: 100px 40px 20px 900px;
	padding: 30px;
	width: 250px;
	height: 300px;
	background-color: rgba(210, 180, 140,0.8);
	color: white;
	border: 2px solid white;
	display: block;
	text-align: center;
	font-size: 14px;
  z-index: 1;

}

#jorel {
	width: 165px;
	height: 410px;
	position: absolute;
	margin-top: 200px;
	margin-left: 1100px;
}

#jorel:hover {
	content: url(../images/jorel.png);
	width: 165px;
	height: 410px;	
}


img {
	width: 200px;
	height: 70px;
}

strong {
	font-size: 20px;
}


.login-box1 {
	position: absolute;
	margin-top: 450px;
	margin-left: 530px;
	display: inline-flex;
}

.login-box1 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #00FFFF;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box1 a:hover {
  background: #00FFFF;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #00FFFF,
              0 0 25px #00FFFF,
              0 0 50px #00FFFF,
              0 0 100px #00FFFF;
}

/*Navbar*/

.third-div {
  position: absolute;
  display: inline;
}

.navigation form a {
  background: #FFFFFF;
  color: gray;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  transition: .5s;
  margin: 40px;
  position: absolute;
  width: 35px;
  height: 35px;
  padding: 3px;
  z-index: 2;
}

.navigation a:hover {
  background: #DC143C;
  text-decoration: none;
  font-size: 25px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #DC143C,
              0 0 25px #DC143C,
              0 0 50px #DC143C,
              0 0 100px #DC143C;
}

/*Navbar Individual*/
.btn-box1 {
  position: absolute;
  margin: 80px 200px 50px 900px;
}

.btn-box2 {
  position: absolute;
  margin:  80px 180px 50px 950px;
}
.btn-box3 {
  position: absolute;
  margin:  80px 180px 50px 1000px;
}

.btn-box4 {
  position: absolute;
  margin:  80px 180px 50px 1050px;
}

.btn-box5 {
  position: absolute;
  margin:  80px 180px 50px 1100px;
}

.btn-box6 {
  position: absolute;
  margin: 80px 180px 50px 1150px;
}