/*ABOUT PAGE*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
/*	width: 100vw;*/
	background-repeat: no-repeat;
	background-image: url(../images/image1.jpg);	
	background-size: 1450px 650px;
    background-position: top;
/*	display: block;*/
	font-family: sans-serif;
}

h1 {
	color: rgba(245,255,250,0.8);
	background-color: none;
	margin-left: 30%;
	margin-top: 30px;
	font-family: 'Anton', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
}


.container1, .container5 {
  position: relative;
	margin: 10px 0 50px 600px;
	padding: 20px;
	width: 27vw;
	height: 60vh;
	background-color: rgba(210,105,30, 0.75);
	color: white;
	border: 2px solid white;
	display: inline-flex;
  transition: .5s;

}

.container2, .container4 {
  position: relative;
	margin: 10px 0 50px 600px;
	padding: 30px;
	width: 27vw;
	height: 60vh;
	background-color: rgba(	178,34,34, 0.75);
	color: white;
	border: 2px solid white;
	display: inline-flex;
  transition: .5s;
}

.container3 {
  position: relative;
	margin: 10px 0 50px 600px;
	padding: 30px;
	width: 27vw;
	height: 60vh;
	background-color: rgba(102,205,170, 0.75);
	color: white;
	border: 2px solid white;
	display: inline-flex;
  transition: .5s;

}


.carousel {
	display: block;
}

/*login box 1*/

.login-box1 {
	position: absolute;
	margin-top: 20px;
	margin-left: 5px;
	display: inline-flex;
}

.login-box1 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #DC143C;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box1 a:hover {
  background: #DC143C;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #DC143C,
              0 0 25px #DC143C,
              0 0 50px #DC143C,
              0 0 100px #DC143C;
}

/*login box 2*/

.login-box2 {
	position: absolute;
	margin-top: 80px;
	margin-left: 5px;
	display: inline-flex;
}

.login-box2 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box2 a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

/*Login Box 3*/

.login-box3 {
	position: absolute;
	margin-top: 140px;
	margin-left: 5px;
	display: inline-flex;
}

.login-box3 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #FF7F50;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box3 a:hover {
  background: #FF7F50;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #FF7F50,
              0 0 25px #FF7F50,
              0 0 50px #FF7F50,
              0 0 100px #FF7F50;
}


/*Login Box 4*/

.login-box4 {
	position: absolute;
	margin-top: 200px;
	margin-left: 5px;
	display: inline-flex;
}

.login-box4 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box4 a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}


/*Login Box 5*/

.login-box5 {
	position: absolute;
	margin-top: 260px;
	margin-left: 5px;
	display: inline-flex;
}

.login-box5 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #DC143C;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box5 a:hover {
  background: #DC143C;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #DC143C,
              0 0 25px #DC143C,
              0 0 50px #DC143C,
              0 0 100px #DC143C;
}

/*Navbar*/

.navigation form a {
  position: absolute;
  background: #FFFFFF;
  color: gray;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  transition: .5s;
  margin: 40px;
  width: 35px;
  height: 35px;
  padding: 3px;
  z-index: 3; 
}

.navigation a:hover {
  background: #DC143C;
  text-decoration: none;
  font-size: 25px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #DC143C,
              0 0 25px #DC143C,
              0 0 50px #DC143C,
              0 0 100px #DC143C;
}

/*Navbar Individual*/
.btn-box1 {
  position: absolute;
  margin: 10px 200px 50px 900px;
}

.btn-box2 {
  position: absolute;
  margin: 10px 180px 50px 950px;
}
.btn-box3 {
  position: absolute;
  margin: 10px 180px 50px 1000px;
}

.btn-box4 {
  position: absolute;
  margin: 10px 180px 50px 1050px;
}

.btn-box5 {
  position: absolute;
  margin: 10px 180px 50px 1100px;
}

.btn-box6 {
  position: absolute;
  margin: 10px 180px 50px 1150px;
}
