* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*MAIN MEMBER PAGE*/

body {
/*	width: 100vw;*/
	background-repeat: no-repeat;
	background-image: url(../images/image3.jpg);	
	background-size: 1450px 650px;
    background-position: top;
	display: block;
	font-family: sans-serif;
}


/*girl jump*/

#mem1 {
	width: 310px;
	height: 450px;
	position: absolute;
	margin-top: 70px;
	margin-left: 800px;
}

#mem1:hover {
	content: url(../images/mem1a.png);
	width: 210px;
	height: 430px;	
	margin-top: 20px;
	margin-left: 830px;
}

/*girl clap*/

#mem2 {
	width: 210px;
	height: 450px;
	position: absolute;
	margin-top: 180px;
	margin-left: 250px;
	z-index: 2;
}

#mem2:hover {
	content: url(../images/sexy2.png);
	width: 200px;
	height: 410px;	
	margin-top: 200px;
	margin-left: 250px;
}

/*girl mount*/

#mem3 {
	width: 290px;
	height: 410px;
	position: absolute;
	margin-top: 100px;
	margin-left: 50px;
	z-index: 1;
}

#mem3:hover {
	content: url(../images/mem3a.png);
	width: 350px;
	height: 420px;	
	margin-top: 80px;
	margin-left: 30px;

}

/*girl sit*/

#mem4 {
	width: 290px;
	height: 410px;
	position: absolute;
	margin-top: 200px;
	margin-left: 680px;
	z-index: 2;
}

#mem4:hover {
	content: url(../images/mem4a.png);
	width: 160px;
	height: 290px;	
	margin-top: 320px;
	margin-left: 740px;
}

/*boy run*/

#mem5 {
	width: 290px;
	height: 410px;
	position: absolute;
	margin-top: 200px;
	margin-left: 950px;
	z-index: 3;
}

#mem5:hover {
	content: url(../images/mem5a.png);
	width: 280px;
	height: 430px;	
	margin-top: 200px;
	margin-left: 950px;
}

/*boy sit*/

#mem6 {
	width: 250px;
	height: 370px;
	position: absolute;
	margin-top: 230px;
	margin-left: 350px;
	z-index: 3;
}

#mem6:hover {
	content: url(../images/mem6a.png);
	width: 320px;
	height: 370px;	
	margin-top: 270px;
	margin-left: 350px;
}

/*boy raise hand*/

#mem7 {
	width: 200px;
	height: 390px;
	position: absolute;
	margin-top: 130px;
	margin-left: 380px;
	z-index: 1;
}

#mem7:hover {
	content: url(../images/mem7a.png);
	width: 310px;
	height: 380px;	
	margin-top: 160px;
	margin-left: 270px;
}

/*boy sleep*/

#mem8 {
	width: 320px;
	height: 200px;
	position: absolute;
	margin-top: 450px;
	margin-left: 550px;
	z-index: 4;
}

#mem8:hover {
	content: url(../images/mem8a.png);
	width: 350px;
	height: 230px;
	margin-top: 420px;
	margin-left: 520px;	
}

/*boy stand*/

#mem9 {
	width: 280px;
	height: 390px;
	position: absolute;
	margin-top: 140px;
	margin-left: 600px;
	z-index: 1;
}

#mem9:hover {
	content: url(../images/mem9a.png);
	width: 510px;
	height: 450px;	
	margin-top: 130px;
	margin-left: 390px;
}

/*boy bow*/

#mem10 {
	width: 280px;
	height: 390px;
	position: absolute;
	margin-top: 250px;
	margin-left: 0px;
	z-index: 4;
}

#mem10:hover {
	content: url(../images/mem10a.png);
	width: 220px;
	height: 350px;	
	margin-top: 290px;
	margin-left: 40px;
}

.mem10-position {
	margin-top: 0px;
	margin-left: 40px;
	display: flex;
}

/*MEMBER 1 PAGE*/

body.members {
	background-repeat: no-repeat;
	background-image: url(../images/image4.jpg);	
	background-size: 1450px 650px;
    background-position: top;
    display: block;
	font-family: sans-serif;
}

.container-member1a {
	margin: 50px 300px 10px 300px;
	padding: 20px;
	color: white;
	width: 500px;
	height: 230px;
	text-align: center;
	background-color: rgba(	143,188,143, 0.7);
	border-radius: 10px;
	border: 3px solid white;
}

.container-member1b {
	margin: 10px 300px 30px 300px;
	padding: 20px;
	color: white;
	width: 500px;
	height: 230px;
	text-align: center;
	background-color: rgba(	143,188,143, 0.7);
	border-radius: 10px;
	border: 3px solid white;
}

/*EVENTS PAGE*/


body.events {	
/*	width: 100vw;*/
	background-repeat: no-repeat;
	background-image: url(../images/image5.jpg);	
	background-size: 1450px 650px;
    background-position: top;
    position: absolute;
	font-family: sans-serif;
}

.media {
	margin: 330px 200px 50px 420px;
	position: absolute;

}

/*CONTACT PAGE*/

body.contact {	
	background-repeat: no-repeat;
	background-image: url(../images/image6.jpg);	
	background-size: 1450px 650px;
    background-position: top;
	font-family: sans-serif;
}

.container-contact {
	width: 400px;
	height: 500px;
	margin-left: 35vw;
	padding: 20px;
	margin-top: 70px;
	background-color: rgba(	0,206,209, 0.7);
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	text-align: left;
	position: absolute;
	line-height: 30px;
	z-index: 1;
}

input#name {
	border: 1px solid white;
	margin-left: 45px;
}

input#igname {
	border: 1px solid white;
	margin-left: 10px;
}


select#service {
	border: 1px solid white;
}

textarea#message {
	height: 100px;
	width: 350px;
	border-radius: 5px;
	border: 1px solid white;
}

input#submit {
	background-color: rgba(	95,158,160, 0.7);
	line-height: 20px;
	padding: 5px 40px;
	text-align: center;
	color: white;
	border: 2px solid cadetblue;
	border-radius: 5px;
	margin-top: 10px;
}

input#submit:hover {
	background-color: rgba(	0,206,209, 0.9);
	border: 2px solid white;
}

/*Ads*/


#ad1 {
	position: absolute;
	margin: 50px 140px;
	width: 120px;
	height: 170px;
	z-index: 5;
}

#ad1:hover {
	position: absolute;
	margin: 50px 100px;
	width: 230px;
	height: 350px;
	z-index: 5;
}

#ad2 {
	position: absolute;
	margin: 50px 270px;
	width: 120px;
	height: 170px;
	z-index: 4;
}

#ad2:hover {
	position: absolute;
	margin: 50px 270px;
	width: 230px;
	height: 350px;
	z-index: 4;
}

#ad3 {
	position: absolute;
	margin: 230px 140px 10px;
	width: 120px;
	height: 170px;
	z-index: 3;
}

#ad3:hover {
	position: absolute;
	margin: 220px 100px 10px;
	width: 230px;
	height: 350px;
	z-index: 3;
}

#ad4 {
	position: absolute;
	margin: 230px 270px 30px;
	width: 120px;
	height: 170px;
	z-index: 2;
}

#ad4:hover {
	position: absolute;
	margin: 230px 270px 30px;
	width: 230px;
	height: 350px;
	z-index: 2;
}

/*Contact*/
.contact-person {
	width: 300px;
	height: 150px;
	margin-left: 8vw;
	padding: 20px;
	margin-top: 420px;
	background-color: rgba(	0,206,209, 0.7);
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	text-align: left;
	position: absolute;
	z-index: 1;
	font-size: 14px;
}

/*Acts*/

.acts {
	width: 300px;
	height: 300px;
	margin-left: 70vw;
	padding: 30px;
	margin-top: 150px;
	background-color: rgba(	0,206,209, 0.7);
	border: 2px solid white;
	border-radius: 20px;
	color: white;
	text-align: center;
	position: absolute;
	line-height: 30px;
	z-index: 1;
}

p#web {
	color: cyan;
}

p#web:hover {
	color: white;
}

/*Navbar*/

.navigation form a {
  background: #FFFFFF;
  color: gray;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin: 40px;
  position: absolute;
  display: inline;
  width: 35px;
  height: 35px;
  padding: 3px;
  z-index: 6;
}

.navigation a:hover {
  background: #DC143C;
  text-decoration: none;
  font-size: 25px;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #DC143C,
              0 0 25px #DC143C,
              0 0 50px #DC143C,
              0 0 100px #DC143C;
}

/*Navbar Individual*/
.btn-box1 {
	position: absolute;
	margin: 510px 200px 50px 900px;
}

.btn-box2 {
	position: absolute;
	margin: 510px 180px 50px 950px;
}
.btn-box3 {
	position: absolute;
	margin: 510px 180px 50px 1000px;
}

.btn-box4 {
	position: absolute;
	margin: 510px 180px 50px 1050px;
}

.btn-box5 {
	position: absolute;
	margin: 510px 180px 50px 1100px;
}

.btn-box6 {
	position: absolute;
	margin: 510px 180px 50px 1150px;
}


